.part3{
    background: transparent;
        margin-top: 60px;
}
.div1p3{
    text-align: right;
}
#prag{
    text-align: center;
    margin-right: 20px;
    color: black;
}
.div2p3{
    margin-top: 20px;
}