



.first{
    background-image: url('../../assets/firstimg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   

}
#house{
    color: white;
    font-size: 60px;
}
#first2{
    padding-top: 136px;
    padding-left: 188px;

}
#htag{
    font-size: 130px;
    color: white;

}
#hr{
    width: 500px;
    border: 5px solid white ;
}
.icon{
    color: white;
    font-size: 50px;
    padding-left: 50px;
    padding-top: 30px;
}