#button{
    margin-left: 5px;
    
  
    background-color:transparent;
    color:black;
    border: 1px solid black;
    
    height: 50px;
    width: 170px;
    border-radius: 5px;
}

.divp7{
    margin-top: 40px;
    text-align: center;
}
#pp7{
    font-size: 30px;
}
